$header_color: #fff;
$container_color: #e9e9e9;
$border_color: #e2e2e2;
$film_color: #fff;
$main_color: #2980b9;

@mixin input-text($width, $height) {
	width: $width;
	height: $height;
    border: solid 1px $border_color;
    border-radius: 3px;
    padding-left: 5px;
    &:focus {
		outline: none;
    }
}

@mixin input-text($width, $height) {
	width: $width;
	height: $height;
    border: solid 1px $border_color;
    border-radius: 3px;
    padding-left: 5px;
    &:focus {
		outline: none;
    }
}

@mixin btn($width, $height) {
	width: $width;
	height: $height;
	text-align: center;
	line-height: $height;
	background-color: $main_color;
	color: #fff;
	border-radius: 3px;
	box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

* {
	font-family: 'Helvetica Neue','Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',arial,sans-serif;
	color: #444;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

body {
	background-color: $container_color;
}

header {
	width: 100%;
	height: 45px;
	background-color: $header_color;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
	-webkit-transform: translateZ(0);
	position: fixed;
	z-index: 10;
	.inner-header {
		width: 100%;
		min-width: 1250px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		.search {
			width: 265px;
			overflow: hidden;
			position: absolute;
			top: 8px;
			left: 10px;
			input[type="text"] {
				float: left;
				@include input-text(200px, 30px);
				font-size: 12px;
			}
			.submit-btn {
				@include btn(55px, 30px);
				float: right;
			}
		}
		h1 {
			width: 100%;
			text-align: center;
			a {
				display: inline-block;
				color: $main_color;
				font-size: 20px;
				line-height: 45px;
			}
		}
	}
}

.container {
	width: 100%;
	min-width: 1250px;
	padding-top: 65px;
	overflow: hidden;
	.films-page {
		float: right;
		margin: 0 0 0 -210px;
		width: 100%;
    	.films-wrap {
    		margin: 0 0 0 220px;
    		overflow: hidden;
			.film {
				display: inline-block;
				margin-right: 10px;
				margin-bottom: 10px;
				width: 180px;
				box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
				background-color: $film_color;
				img {
					width: 180px;
					display: block;
				}
				.title {
					width: 100%;
					padding: 10px;
				}
			}
    	}
    	.loading {
			clear: both;
			text-align: center;
			img {
				width: 40px;
			}
		}
	}
	.contents-page, .content-page {
		width: 800px;
		margin: 0 auto;
		.basic {
			width: 100%;
			overflow: hidden;
			background-color: $film_color;
			padding: 10px;
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
			margin-bottom: 20px;
			img {
				width: 270px;
				display: block;
				float: left;
				margin-right: 10px;
			}
			.body {
				width: 490px;
				float: right;
				.title {
					font-size: 18px;
					margin-bottom: 20px;
				}
				.description {
					font-size: 16px;
					line-height: 22px;
				}
			}
		}
		.story-list {
			padding-bottom: 40px;
			li {
				width: 100%;
				height: 40px;
				line-height: 40px;
				box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
				background-color: $film_color;
				font-size: 16px;
				margin-bottom: 10px;
				position: relative;
				.badge {
					background-color: $main_color;
					width: 5px;
					height: 100%;
					display: inline-block;
					position: absolute;
					top: 0px;
					left: 0px;
				}
				a {
					padding-left: 20px;
					display: block;
					color: $main_color;
				}
			}
		}
		h3 {
			width: 100%;
			padding-top: 5px;
			padding-bottom: 5px;
			font-weight: normal;
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
			background-color: $film_color;
			font-size: 16px;
			margin-bottom: 10px;
			padding-left: 20px;
			position: relative;
			color: $main_color;
			.badge {
				background-color: $main_color;
				width: 5px;
				height: 100%;
				display: inline-block;
				position: absolute;
				top: 0px;
				left: 0px;
			}
		}
		.link-list {
			padding-bottom: 40px;
			li {
				a {
					display: block;
					width: 645px;
					margin: 0 auto;
					margin-bottom: 10px;
					margin-top: 40px;
					color: $main_color;
					text-decoration: underline;
				}
				iframe {
					display: block;
					width: 645px;
					height: 365px;
					margin: 0 auto;
					margin-bottom: 40px;
				}
			}
		}
	}
}

.menu {
	width: 200px;
	position: fixed;
	left: 10px;
	top: 64px;
    .hiragana-list {
    	width: 200px;
    	margin: 0 auto;
    	background-color: #fff;
    	overflow: hidden;
    	.all {
    		display: block;
    		width: 100%;
    		height: 40px;
    		line-height: 40px;
    		text-align: center;
    		border: solid 1px #e2e2e2;
    	}
    	.first-letter {
    		margin: 0px;
    		display: block;
    		float: left;
    		width: 40px;
    		height: 40px;
    		line-height: 40px;
    		text-align: center;
    		border: solid 1px #e2e2e2;
    	}
    	.selected {
    		background-color: #ccc;
    		color: #fff;
    	}
    }
}