$header_color: #fff;
$container_color: #e9e9e9;
$border_color: #e2e2e2;
$film_color: #fff;
$main_color: #2980b9;

@mixin input-text($width, $height) {
	width: $width;
	height: $height;
    border: solid 1px $border_color;
    border-radius: 3px;
    padding-left: 5px;
    &:focus {
		outline: none;
    }
}

@mixin input-text($width, $height) {
	width: $width;
	height: $height;
    border: solid 1px $border_color;
    border-radius: 3px;
    padding-left: 5px;
    &:focus {
		outline: none;
    }
}

@mixin btn($width, $height) {
	width: $width;
	height: $height;
	text-align: center;
	line-height: $height;
	background-color: $main_color;
	color: #fff;
	border-radius: 3px;
	box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

* {
	font-family: 'Helvetica Neue','Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',arial,sans-serif;
	color: #444;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

html {
	-webkit-overflow-scrolling: touch;
}

body {
	background-color: $container_color;
	-webkit-overflow-scrolling: touch;
}

.layer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #000;
	opacity: 0.6;
	z-index: 1;
	display: none;
}

.menu {
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 45px;
	left: 0px;
	background-color: #fff;
	display: none;
	height: 620px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
    .hiragana-list {
    	width: 100%;
    	margin: 0 auto;
    	background-color: #fff;
    	overflow: hidden;
    	.all {
    		display: block;
    		width: 100%;
    		height: 40px;
    		line-height: 40px;
    		text-align: center;
    		border: solid 1px #e2e2e2;
    	}
    	.lines {
    		width: 300px;
    		margin: 0 auto;
			.line {
	    		width: 300px;
				.first-letter {
		    		margin: 0px;
		    		display: block;
		    		float: left;
		    		width: 60px;
		    		height: 60px;
		    		line-height: 60px;
		    		text-align: center;
		    		border: solid 1px #e2e2e2;
		    	}
	    	}
    	}
    }
}

header {
	width: 100%;
	height: 45px;
	background-color: $header_color;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
	-webkit-transform: translateZ(0);
	position: fixed;
	z-index: 10;
	.inner-header {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: relative;
		.menu-btn {
			@include btn(45px, 45px);
			position: absolute;
			top: 0px;
			left: 0px;
		}
		h1 {
			width: 100%;
			text-align: center;
			a {
				display: inline-block;
				color: $main_color;
				font-size: 20px;
				line-height: 45px;
			}
		}
	}
}

.container {
	width: 100%;
	padding-top: 65px;
	.films-page, .film-page, .content-page {
		width: 100%;
		.inner-films-page, .inner-film-page, .inner-content-page {
	    	.films-wrap {
	    		overflow: hidden;
	    		padding: 10px;
	    		padding-left: 12px;
	    		padding-right: 0px;
				.film {
					display: inline-block;
					margin-bottom: 10px;
					width: 47%;
					padding: 10px;
					box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
					background-color: $film_color;
					margin-right: 10px;
					img {
						width: 100%;
						display: block;
					}
					.title {
						width: 100%;
						padding: 10px;
					}
				}
	    	}
			.film-wrap, .content-wrap {
	    		overflow: hidden;
	    		width: 100%;
	    		padding: 10px;
				.basic {
					overflow: hidden;
					background-color: $film_color;
					padding: 10px;
					box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
					margin-bottom: 20px;
					img {
						width: 270px;
						display: block;
						margin: 0 auto;
						margin-bottom: 10px;
					}
					.body {
						width: 100%;
						.title {
							text-align: center;
							font-size: 18px;
							margin-bottom: 10px;
						}
						.description {
							font-size: 16px;
							line-height: 22px;
						}
					}
				}
				.story-list {
					padding-bottom: 40px;
					li {
						width: 100%;
						padding-top: 6px;
						padding-bottom: 6px;
						line-height: 40px;
						box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
						background-color: $film_color;
						font-size: 16px;
						margin-bottom: 10px;
						position: relative;
						.badge {
							background-color: $main_color;
							width: 5px;
							height: 100%;
							display: inline-block;
							position: absolute;
							top: 0px;
							left: 0px;
						}
						a {
							padding-left: 20px;
							display: block;
							color: $main_color;
						}
					}
				}
				h3 {
					padding-top: 5px;
					padding-bottom: 5px;
					font-weight: normal;
					box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
					background-color: $film_color;
					font-size: 16px;
					margin-bottom: 10px;
					padding-left: 20px;
					position: relative;
					color: $main_color;
					.badge {
						background-color: $main_color;
						width: 5px;
						height: 100%;
						display: inline-block;
						position: absolute;
						top: 0px;
						left: 0px;
					}
				}
				.link-list {
					padding-bottom: 40px;
					li {
						a {
							display: block;
							width: 100%;
							margin: 0 auto;
							margin-bottom: 10px;
							margin-top: 40px;
							color: $main_color;
							text-decoration: underline;
						}
						iframe {
							display: block;
							width: 320px;
							height: 300px;
							margin: 0 auto;
							margin-bottom: 40px;
						}
					}
				}
	    	}
		}
		.loading {
			clear: both;
			text-align: center;
			img {
				width: 40px;
			}
		}
	}
}
