<div class="hiragana-list" ng-controller="LeftMenuCtrl">
	<a href="#/" class="all" ng-class="isDefault()">すべて</a>
	<a href="#/?type=new" class="all" ng-class="isNew()">最新</a>
	<a href="#/?type=popular" class="all" ng-class="isPopular()">人気</a>
	<a href="#/?type=recent" class="all" ng-class="isRecent()">最近</a>
	<a href="#/?letter=あ" class="first-letter" ng-class="isSelected('あ')">あ</a>
	<a href="#/?letter=い" class="first-letter" ng-class="isSelected('い')">い</a>
	<a href="#/?letter=う" class="first-letter" ng-class="isSelected('う')">う</a>
	<a href="#/?letter=え" class="first-letter" ng-class="isSelected('え')">え</a>
	<a href="#/?letter=お" class="first-letter" ng-class="isSelected('お')">お</a>
	<a href="#/?letter=か" class="first-letter" ng-class="isSelected('か')">か</a>
	<a href="#/?letter=き" class="first-letter" ng-class="isSelected('き')">き</a>
	<a href="#/?letter=く" class="first-letter" ng-class="isSelected('く')">く</a>
	<a href="#/?letter=け" class="first-letter" ng-class="isSelected('け')">け</a>
	<a href="#/?letter=こ" class="first-letter" ng-class="isSelected('こ')">こ</a>
	<a href="#/?letter=さ" class="first-letter" ng-class="isSelected('さ')">さ</a>
	<a href="#/?letter=し" class="first-letter" ng-class="isSelected('し')">し</a>
	<a href="#/?letter=す" class="first-letter" ng-class="isSelected('す')">す</a>
	<a href="#/?letter=せ" class="first-letter" ng-class="isSelected('せ')">せ</a>
	<a href="#/?letter=そ" class="first-letter" ng-class="isSelected('そ')">そ</a>
	<a href="#/?letter=た" class="first-letter" ng-class="isSelected('た')">た</a>
	<a href="#/?letter=ち" class="first-letter" ng-class="isSelected('ち')">ち</a>
	<a href="#/?letter=つ" class="first-letter" ng-class="isSelected('つ')">つ</a>
	<a href="#/?letter=て" class="first-letter" ng-class="isSelected('て')">て</a>
	<a href="#/?letter=と" class="first-letter" ng-class="isSelected('と')">と</a>
	<a href="#/?letter=な" class="first-letter" ng-class="isSelected('な')">な</a>
	<a href="#/?letter=に" class="first-letter" ng-class="isSelected('に')">に</a>
	<a href="#/?letter=ぬ" class="first-letter" ng-class="isSelected('ぬ')">ぬ</a>
	<a href="#/?letter=ね" class="first-letter" ng-class="isSelected('ね')">ね</a>
	<a href="#/?letter=の" class="first-letter" ng-class="isSelected('の')">の</a>
	<a href="#/?letter=は" class="first-letter" ng-class="isSelected('は')">は</a>
	<a href="#/?letter=ひ" class="first-letter" ng-class="isSelected('ひ')">ひ</a>
	<a href="#/?letter=ふ" class="first-letter" ng-class="isSelected('ふ')">ふ</a>
	<a href="#/?letter=へ" class="first-letter" ng-class="isSelected('へ')">へ</a>
	<a href="#/?letter=ほ" class="first-letter" ng-class="isSelected('ほ')">ほ</a>
	<a href="#/?letter=ま" class="first-letter" ng-class="isSelected('ま')">ま</a>
	<a href="#/?letter=み" class="first-letter" ng-class="isSelected('み')">み</a>
	<a href="#/?letter=む" class="first-letter" ng-class="isSelected('む')">む</a>
	<a href="#/?letter=め" class="first-letter" ng-class="isSelected('め')">め</a>
	<a href="#/?letter=も" class="first-letter" ng-class="isSelected('も')">も</a>
	<a href="#/?letter=や" class="first-letter" ng-class="isSelected('や')">や</a>
	<span class="first-letter"></span>
	<a href="#/?letter=ゆ" class="first-letter" ng-class="isSelected('ゆ')">ゆ</a>
	<span class="first-letter"></span>
	<a href="#/?letter=よ" class="first-letter" ng-class="isSelected('よ')">よ</a>
	<a href="#/?letter=ら" class="first-letter" ng-class="isSelected('ら')">ら</a>
	<a href="#/?letter=り" class="first-letter" ng-class="isSelected('り')">り</a>
	<a href="#/?letter=る" class="first-letter" ng-class="isSelected('る')">る</a>
	<a href="#/?letter=れ" class="first-letter" ng-class="isSelected('れ')">れ</a>
	<a href="#/?letter=ろ" class="first-letter" ng-class="isSelected('ろ')">ろ</a>
	<a href="#/?letter=わ" class="first-letter" ng-class="isSelected('わ')">わ</a>
	<span class="first-letter"></span>
	<span class="first-letter"></span>
	<span class="first-letter"></span>
	<a href="#/?letter=ん" class="first-letter" ng-class="isSelected('ん')">ん</a>
</div>