<div class="hiragana-list">
	<a href="#/" class="all">すべて</a>
	<a href="#/?letter=あ" class="first-letter">あ</a>
	<a href="#/?letter=い" class="first-letter">い</a>
	<a href="#/?letter=う" class="first-letter">う</a>
	<a href="#/?letter=え" class="first-letter">え</a>
	<a href="#/?letter=お" class="first-letter">お</a>
	<a href="#/?letter=か" class="first-letter">か</a>
	<a href="#/?letter=き" class="first-letter">き</a>
	<a href="#/?letter=く" class="first-letter">く</a>
	<a href="#/?letter=け" class="first-letter">け</a>
	<a href="#/?letter=こ" class="first-letter">こ</a>
	<a href="#/?letter=さ" class="first-letter">さ</a>
	<a href="#/?letter=し" class="first-letter">し</a>
	<a href="#/?letter=す" class="first-letter">す</a>
	<a href="#/?letter=せ" class="first-letter">せ</a>
	<a href="#/?letter=そ" class="first-letter">そ</a>
	<a href="#/?letter=た" class="first-letter">た</a>
	<a href="#/?letter=ち" class="first-letter">ち</a>
	<a href="#/?letter=つ" class="first-letter">つ</a>
	<a href="#/?letter=て" class="first-letter">て</a>
	<a href="#/?letter=と" class="first-letter">と</a>
	<a href="#/?letter=な" class="first-letter">な</a>
	<a href="#/?letter=に" class="first-letter">に</a>
	<a href="#/?letter=ぬ" class="first-letter">ぬ</a>
	<a href="#/?letter=ね" class="first-letter">ね</a>
	<a href="#/?letter=の" class="first-letter">の</a>
	<a href="#/?letter=は" class="first-letter">は</a>
	<a href="#/?letter=ひ" class="first-letter">ひ</a>
	<a href="#/?letter=ふ" class="first-letter">ふ</a>
	<a href="#/?letter=へ" class="first-letter">へ</a>
	<a href="#/?letter=ほ" class="first-letter">ほ</a>
	<a href="#/?letter=ま" class="first-letter">ま</a>
	<a href="#/?letter=み" class="first-letter">み</a>
	<a href="#/?letter=む" class="first-letter">む</a>
	<a href="#/?letter=め" class="first-letter">め</a>
	<a href="#/?letter=も" class="first-letter">も</a>
	<a href="#/?letter=や" class="first-letter">や</a>
	<span class="first-letter"></span>
	<a href="#/?letter=ゆ" class="first-letter">ゆ</a>
	<span class="first-letter"></span>
	<a href="#/?letter=よ" class="first-letter">よ</a>
	<a href="#/?letter=ら" class="first-letter">ら</a>
	<a href="#/?letter=り" class="first-letter">り</a>
	<a href="#/?letter=る" class="first-letter">る</a>
	<a href="#/?letter=れ" class="first-letter">れ</a>
	<a href="#/?letter=ろ" class="first-letter">ろ</a>
	<a href="#/?letter=わ" class="first-letter">わ</a>
	<span class="first-letter"></span>
	<span class="first-letter"></span>
	<span class="first-letter"></span>
	<a href="#/?letter=ん" class="first-letter">ん</a>
</div>