<div class="recent-anime-list" ng-controller="RightMenuCtrl" ng-init="initialize()">
  <ul class="sunday">
    <li class="week">日曜日</li>
    <li ng-repeat="anime in api.sunday_map track by $index">
      <span class="title">{{anime.title}}({{anime.now_episode}})</span>
    </li>
  </ul>
  <ul class="monday">
    <li class="week">月曜日</li>
    <li ng-repeat="anime in api.monday_map track by $index">
      <span class="title">{{anime.title}}({{anime.now_episode}})</span>
    </li>
  </ul>
  <ul class="tuesday">
    <li class="week">火曜日</li>
    <li ng-repeat="anime in api.tuesday_map track by $index">
      <span class="title">{{anime.title}}({{anime.now_episode}})</span>
    </li>
  </ul>
  <ul class="wednesday">
    <li class="week">水曜日</li>
    <li ng-repeat="anime in api.wednesday_map track by $index">
      <span class="title">{{anime.title}}({{anime.now_episode}})</span>
    </li>
  </ul>
  <ul class="thursday">
    <li class="week">木曜日</li>
    <li ng-repeat="anime in api.thursday_map track by $index">
      <span class="title">{{anime.title}}({{anime.now_episode}})</span>
    </li>
  </ul>
  <ul class="friday">
    <li class="week">金曜日</li>
    <li ng-repeat="anime in api.friday_map track by $index">
      <span class="title">{{anime.title}}({{anime.now_episode}})</span>
    </li>
  </ul>
  <ul class="saturday">
    <li class="week">土曜日</li>
    <li ng-repeat="anime in api.saturday_map track by $index">
      <span class="title">{{anime.title}}({{anime.now_episode}})</span>
    </li>
  </ul>
</div>