<div class="film-page" ng-init="initialize()">
	<div class="inner-film-page">
		<div class="film-wrap">
			<div class="basic">
				<img ng-src="{{api.film.thumbnail}}">
				<div class="body">
					<h2 class="title">{{api.film.title}}</h2>
					<p class="description">{{api.film.description}}</p>
				</div>
			</div>
			<ul class="story-list">
				<li ng-repeat="content in api.film.contents track by $index">
					<span class="badge"></span>
					<a href="#/content/{{api.film.id}}/{{content.id}}">
						{{strimWidth(content.title, 55)}}
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>